/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* mobile first css styles*/ 

/* basic styles */
  body { 

  font-family: 'Open Sans', sans-serif;
	background: white;
	font-size: 14px; /* this is 1em */
	line-height: 1.5;
	color:black; 
  }



  h1 {
  font-size: 2.5em;
  color:#012b3c;
	line-height: 106px;
	font-weight: bold;
  text-decoration: none;
  text-align: center;
  background: white;
  height: 100px;
  margin: 10px;
  padding: 10px;
  position: relative;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  
 
  }

  h1::after{
    
      border-radius: 0 0 300px 300px;
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
      content: '';
      display: block;
      height: 100px;
      left: 0px;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }

  
  

  h2 {
  font-size: 1.15em;
	line-height: 1;
	font-weight: bold;
	margin-bottom:20px;
	
  } 



  h3 {
  font-size: 35px;
 
  }



  /* header style */
  .roof1{
  width: 100%;
  height:auto;
  

}



/* nav style */
  .nav {
    display: block;
    padding: 0;
    width: 25%;
    background-color: white;
    position:fixed;
    height: 100%;
    overflow:visible;
    text-align: center;
    top:0;

  }
 
  .nav img{
   
    width:50%;
    height:auto;
    margin-bottom: 0;
   

  }
  .nav  ul a {
    display: block;
    color: black;
    padding:20%;
    text-decoration: none;
    margin-bottom: 70px;
    margin-top: 70px;
   
  }
   
  .nav a.active {
    background-color: #555;
    color: white;
  }
  
  /* adds animation to nav links */
  .nav a:hover{
    background-color: #012b3c;
    color: white;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
      animation-name: jump;
      animation-duration: .5s;
  }
    
    @keyframes jump {
      50% { transform: translate(0, -5px); }
  }
  
 /* adds white background color to logo so no color shows when mouse hovers */
  #logo:hover{
    background-color:white;
    box-shadow: none;
  }

  /* adds hover rotate animation to logo */
  .nav img:hover {
    transition: 1s;
    transform: rotatey(360deg)
  }


    
  

  
 
/* adds grid to main section and displays two columns */
  .section-home{
    display: grid;
    grid-template-columns: 25% 70%;
    
    
    
  
  }

/* adds styles to images */

  .img-a {
    width: 100%;
    height:auto;
    border-style: solid;
    border-color: #555;
    border-width: 3px;
    border-radius: 35%;
    margin-bottom: 1rem;
    margin-left: .5rem;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  }



  .img-b {
    width: 100%;
    height:auto;
    border-style: solid;
    border-color: #555;
    border-width: 3px;
    border-radius: 35%;
    margin-left: .5rem;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  

  }

  .img-c {
    width: 100%;
    height:auto;
    border-style: solid;
    border-color: #555;
    border-width: 3px;
    border-radius: 35%;
    margin-bottom: 1rem;
    margin-left: .5rem;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  }
/* aligns h1 heading in grid */
  .grib-b h1{
    text-align: center;
  }

/* aligns h2 text to center in class grid-b */

  .grid-b h2{
    text-align: center;
    padding-left: 2rem;
  }

/* aligns paragraphs in grid .container to center and adds padding to bottom */

  .container p{
    text-align:center;
    padding-bottom: 1rem;
    
  }
  
  .par-contact{
    display:none;
  }

/* adds form style on contact page */

  .container-a{
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 50px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    margin-left: 5px;
  }


  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    
  }

  input[type=text]:hover{
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  input[type=submit] {
    background-color: #555;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  
  }

/* adds animation to submit button */

  input[type=submit]:hover {
    background-color: #012b3c;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    animation-name: d-jump;
    animation-duration: .5s;
  }
  
  @keyframes d-jump {
    50% { transform: translate(-5px, -2px); }
  }
  

  textarea{
    font-family: Arial, Helvetica, sans-serif;
    height: 200px;
    color: #909090;
    border-radius: 5px;
    
  }

 textarea:hover{
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

 }

/* adds footer style */

  footer{
    text-align: right;
    padding-top: .5rem;
    padding-right: 1rem;
    background-color: white;
  }


@media screen and (min-width:640px) {
  
/* general desktop styles */

  .nav {
    width: 15%;
      
  }

  .par-contact{
    display:block;
  }

/* section-home grid layout */

  .section-home{
    display: grid;
    grid-template-columns: 15% 85%;
    
  }

/* adds desktop styles to images */

  .img-a{
    width: 100%;
    height:auto;
    border-radius: 0%;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left: 0rem;
    border-style: none;

  }
  
  .img-b{
    width: 100%;
    height:auto;
    border-radius: 0%;
    border-style: none;
    margin-left: 0rem;
    
  }

    .img-c{
      width: 100%;
      height:auto;
      border-radius: 0%;
      border-style: none;
      margin-left: 0rem;
  }
  
 

/* section grid-b layout */

.grid-b .container{
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;

  
}


  /* adds images and h2 to correct postitions in grid */

  .img-a {
    grid-column: 2 / span 1;

  }

  .img-b{
    grid-column: 1 / span 1;

  }

  .img-c{
    grid-column: 2 / span 1;
  }

 .marshall-1{
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
 }

  .marshall-2{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
   
  }

  .marshall-3{
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }

  .par-a{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    padding-top: 90px;
    
  }

  .par-b{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    padding-top: 125px;
    
  }

  .par-c{
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    padding-top: 150px;
    
  }
  
  .item-c img{
    width: 100%;
    height:auto;
    border-radius: 0%;
    
  }

/* removes contact and about headers from home page */

  .contact{
    display: none;

  } 

  .about{
    display: none;

  }

/* adds margin left to form container on contact page */

  .container-a {
 
    margin-left: 0px;
  }
  







}









